
.bordeRojo{
    border: 2px solid red;
}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 31%;
  transition: transform 0.3s ease;
  padding: 0.5em;
  height: 18vh;
  line-height: 1.2;
}

.item:hover{
  transform: scale(1.06);
}

.itemH:hover{
  transform: scale(1.06);
}

.contenedor{
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  width: 100%;
}

.caja{
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 90%;
}

.tituloCaja{
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 1.5em
}

.textoItem{
  font-weight: 500;
  font-size: 0.9em;
}

.df{
  display: flex;
}

.w100{
  width: 100%;
}

.w90{
  width: 90%;
}

.dibujo{
  margin-bottom: 1em;
}

.icon{
  color: rgb(53, 53, 53);
  margin-right: 0.5em;
}

.iconUbi{
  color: rgb(53, 53, 53);
  margin-right: 0.3em;
}

.galeria{
  display: flex;
  align-items: center; 
  justify-content: space-between;
}
.boton{
  background: none;
  border: none;
  height: 40px;           
  width: 40px;          
  display: flex;           
  align-items: center;
  justify-content: center;
  cursor: pointer;     
  transform: scale(1.2);
  transition: transform 0.2s;
}
.boton:hover{
  transform: scale(1.4);
}

/* Computadora chica */
@media (max-width: 1500px){
   .textoItem{
      font-size: 0.7em;
   }
}

/* Tablet */
@media (max-width: 1023px){
    .textoItem{
      font-size: 0.9em;
   }
}

/* Mobile */
@media (max-width: 599px) {
.textoItem{
      font-size: 0.9em;
   }
}